.weekView {
    display: flex;
    width: 80vw; /* 80% of the viewport width */
    height: 80vh; /* 80% of the viewport height */
    margin: auto; /* Center in the viewport */
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Blur effect for the frosted glass look */
    border-radius: 75px; /* Optional: adds rounded corners */
    padding: 2vw;
  }
  
  .daysContainer {
    display: flex;
    flex: 1; /* Take up the remaining space */
    overflow-x: auto; /* Enable horizontal scrolling for the days if they overflow */
  }
  
