.day {
    flex-grow: 1; /* Distribute remaining space evenly among days */
    display: flex;
    flex-direction: column;
    min-width: 120px; /* Ensure each day column has a minimum width for readability */
  }
  
.day .date{
    font-weight: bold;
    color: #424242;
}

.day .hour-slot{
    border-left: 1px solid #ddd; /* Optional: adds a separator between slots */
}